@import "tailwindcss";

:root {
  --bg: #e8e8e8;
  --ink: #000000;
  --grid: #cfcfcf;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  background: var(--bg);
  color: var(--ink);
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial;
}
